@font-face {
    font-family: 'ubunturegular';
    src: url('font/ubuntu-r-webfont.woff2') format('woff2'),
         url('font/ubuntu-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight';
    src: url('font/ubuntu-l-webfont.woff2') format('woff2'),
         url('font/ubuntu-l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold';
    src: url('font/ubuntu-b-webfont.woff2') format('woff2'),
         url('font/ubuntu-b-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

html, /*  */
body {
    margin: 0;
    /*margin-top: 60px;*/ /* eh ń !úbe ='āun ='ē nǀānn ǀàn sīi.  */
    width: 98.6vw;
    height: 100vh;
    /*max-width: 60em;*/
    background-color: #231B12;
    background-image: url("https://cdn.pixabay.com/photo/2019/10/29/11/45/gods-gift-4586740_960_720.jpg");
    /* <source media="(max-width:600px)" srcset="picture-mid.png"> vir prente binne html */
    background-size: cover;

    background-attachment: fixed;
    font-family: 'ubunturegular','CMU','Open Sans','Helvetica Neue',sans-serif;
}
/*:lang(en) eigen taalinstellingen
:lang(de)*/q {quotes: auto;}

main p { font-family: 'ubuntulight','CMU','Open Sans','Helvetica Neue',sans-serif; line-height: 1.6; }

/* nǀānn ǀàn sīi */

header {
    background-color: rgba(221, 51, 0, 0.92); /* #DD3300 en daarmee 4488BB F5EE55 kana 556677 kana 0F1B07 kana 231B12 zeewier F77604 caviaroranje */
    position: fixed; /* sticky? */
    top: 0;
    left: 0;
    right: 0;
    height: 3.8em; /* eh ń !úbe ='āun ='án « 'nʘāhan » ǀè margin-top. */
    display:flex;
    align-items: center;
    z-index:2;
    box-shadow: rgba(0, 48, 0, 0.17) 0 -1.4em 1.6em 0 inset, rgba(0, 0, 0, 0.15) 0 -2.25em 1.9em 0 inset, rgba(0, 0, 0, 0.1) 0 -4.9em 2.5em 0 inset, rgba(0, 0, 0, 0.06) 0em 0.2em 0.1em, rgba(0, 0, 0, 0.09) 0 0.3em 0.15em, rgba(0, 0, 0, 0.09) 0 0.5em 0.25em, rgba(0, 0, 0, 0.09) 0 1em 0.5em, rgba(0, 0, 0, 0.09) 0 2em 1em;
}

 header img {
    height: 2.5rem; /* header height ń ='āun tàha ké té'e. */
    margin-left: 5%;
}

header * { /*  * ń kánn tháa n!úun tánn ń bà tshûu kè nǀānn ǀàn sīi tshôe kànn ǀîi */
    display: inline; /* kana flex */
}

header li {
    margin: 1.2rem;
}

header a {
    /*color: white;*/
    text-decoration: none;
}

header a.kansii {
    color: yellowgreen;
}

/* Skakels in bo se navigasie */
nav a {
    border-radius: 0.2em;
    box-shadow: 0.2em 0.2em 0.5em;
/*    background: #231B12; */
    padding: 0.3em;
}

/*     submenu skakels    WIS UIT INDIEN NIE NODIG NIE  */
.submenu {
    display: inline-block; /* met "block" verksyn dropdown links,daarsonder regs,beide werk nie */
    visibility: hidden;
    position: absolute; /* nodig ? */
    height: 0;
    z-index: 1000;
}
/* IE 11 won't get this, but at least the top-level menus will work */
ul li:focus-within > ul {
    visibility: visible;
    opacity: 1;
    display: block;
} /* n n ba //khua taqnn */
.submenu li {
    display: block;   width: 100vw;margin-left: -100px;padding-left: -20px; /* margin en padding mag weg want werk nie */
}

nav li:hover  .submenu,
nav li:active  .submenu,
nav li:focus  .submenu {
    visibility: visible;
    height: auto;
}

/* (/nǀānn ǀàn sīi) */

/* (nǂūun ǀàn sīi) */

footer {
    display: flex;
    justify-content: space-around; /* kana -between */
    background-color: rgba(36, 28, 18);
    box-shadow: rgba(0, 48, 0, 0.17) 0 -1.4em 1.6em 0 inset, rgba(0, 0, 0, 0.15) 0 -2.25em 1.9em 0 inset, rgba(0, 0, 0, 0.1) 0 -4.9em 2.5em 0 inset, rgba(0, 0, 0, 0.06) 0em 0.2em 0.1em, rgba(0, 0, 0, 0.09) 0 0.3em 0.15em, rgba(0, 0, 0, 0.09) 0 0.5em 0.25em, rgba(0, 0, 0, 0.09) 0 1em 0.5em, rgba(0, 0, 0, 0.09) 0 2em 1em;
    color: white;
}

.grid { flex: 50%; padding-left: 4%; padding-right: 4%; }

/* ( / nǂūun ǀàn sīi) */

/* hoofddeel? */
main {
    margin: 2vw;
    padding: 1.2em;
}
/* (/hoofddeel) */

section {
    /*margin: 10vw; */
    padding: 2.4vw;
    margin: 2vw;
    max-width: 62em;
    background-color: rgba(36, 28, 18, 0.92);
    border-radius: 0.6em;
    color: white; /* #F5EE55 */
    /*width: clamp(400px, 100%, 1000px);*/ /* minste wydte, wydte, hoogste wydte */
    box-shadow: rgba(50, 50, 93, 0.25) 0 0.8em 1.7em -0.3em, rgba(0, 0, 0, 0.3) 0 0.5em 1em -0.5em;
}

h1, h2, h3, h4 {
    color: yellowgreen;
}

a {
    color: yellowgreen;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: forestgreen;
}

/* [href$=".pdf"]::after{
content: " " url("https://cdn3.iconfinder.com/data/icons/document-icons-2/30/647716-pdf-24.png");
} */

/* prent se (wydte in persent van houer, hoogste wydte)
  img {
    width: min(100%, 400px);
  } */

/*Style 'show menu' label button and hide it by default*/
.show-menu {

    text-decoration: none;
    color: yellowgreen;
    background: #231B12;
    transition: all .35s;
    text-align: center;
    padding: 0.8em 0.2em;
    border-radius: 0.2em;
    box-shadow: 0.4em 0.4em 0.8em;
    display: none;
}
.show-menu:hover,
.show-menu:focus {
    color: forestgreen;
}
/*Hide checkbox*/
input[type=checkbox] {
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu {
    display: block;
}

@media screen and (max-width: 700px) {
  header {height: 5em;align-items: stretch;position: sticky;}
  nav a {
    align-items: center;
    line-height: 2.6;
    /* display: block; */
  }
  body {
    background-image: url('https://cdn.pixabay.com/photo/2019/10/29/11/45/gods-gift-4586740_960_720.jpg'); /* 'ahnn sii tshoann tshoo */
  }
   header img {
    height: 1em; /* header height ń ='āun tàha ké té'e. */
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  /*Style for menu links*/
  li a {
    display:block;
    min-width:8em;
    text-align: center;
    background: #231B12;
  }
  /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
            display:inline-block;
        margin-bottom: 1em;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;margin: .4em;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
    section {
    padding: clamp(2.4vw,1.6em,10vw);
}
}


/*
.kas {
  margin-bottom: 1.3em;
  text-align: justify;
}  */

strong  { font-weight: bold; } /* DIK SKRIF WERK NOG NIE */

picture {
    position: relative;
    overflow: visible; /* weglaat? */
    text-align: center;
    text-indent: 0;
}

/* figure {
  display: table;
} */

figcaption {
    font-size: .8em;
    opacity: 0.7;
    /* display: table-cell;
    caption-side: bottom; */
    /*position: inherit;bottom: 0; werk nie relative, bottom 0 werk ook nie
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0; /* werk nie */ */
}

.talen {
    columns: 20em 3; /*   display: grid;grid-template-columns: minmax(100px, 20em);grid-template-rows: 1.5em;grid-auto-flow: column;gap: 0.2em 1em; WERK GLAD NIE
 */
}

.uua {
   /* text-align: justify;*/
}

.siitshoanntshoo {
    text-align: justify;
}

.oqhbar {
    padding: 0.5em;
    border-radius: 50%;
    max-height: 20em;
    max-width: 30%;
    float: right;
    z-index: 0;
}

.oqhbal {
    padding: 0.5em;
    border-radius: 50%;
    max-height: 30em;
    max-width: 30%;
    float: left;
    z-index: -1000; /* werk nie */
}

.chuantshoe {
    filter: contrast(150%);
}

.txali {
    font-size: .8em;
}

.qum {
    max-width: 20em;
}

.kas::selection {
    background: indianred;
    color: white;
}

.kas {
    font-family: 'Georgia', serif;
    font-size: 0.8em;
    color: yellowgreen;
    background: #231B12;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    float: right;
    text-align: right; /* kana inline-end kana justify-self: end (en bo justify-items???: start) */
}

.taalkeuze {
    margin-right: min(4vw); /* minste uit (waardes) */
    margin-left:auto;

    display: block; /* dalk weglaat */
}

.taalknopje {
    max-height: 1.4em;width:auto;
}

/* vir tabel
divofwatookal {
    column-count:3;
    column-width: 20em;
}
*/
